@import './Variables'

@mixin center
    display: flex
    align-items: center
    justify-content: flex-start
    padding: 0 1rem

@mixin content
    width: 100%
    min-height: 100vh
    display: flex
    padding: 5rem 2rem
    justify-content: space-between
    align-items: center
    gap: 2rem
    cursor: default
