@import './Variables'

@mixin center
    display: flex
    align-items: center
    justify-content: center
    margin: auto
    padding: 0 1rem

@mixin content
    position: absolute
    width: 100%
    min-height: 100vh
    display: flex
    padding: 5rem
    justify-content: space-between
    align-items: center
    gap: 2rem
    cursor: default
